:root {
  --page-background-color: #000;
  --body-text-color: hsla(0, 0%, 100%, 0.65);
  --card-background-color: hsla(0, 0%, 100%, 0.05);
  --heading-text-color: #fff;
  --sub-heading-text-color: hsla(0, 0%, 100%, 0.5);
  --store-button-color: hsla(0, 0%, 100%, 0.1);
  --subdued-text: hsla(0, 0%, 100%, 0.4);
  --background-color: #000;

  --card-radius: 32px;
  --action-color: #0078ff;
  --page-background-color: #fff;
  --card-background-color: rgb(0 0 0/5%);
  --body-text-color: rgba(0, 0, 0, 0.65);
  /* --heading-text-color: #000; */
  /* --sub-heading-text-color: rgba(0, 0, 0, 0.5); */
  --store-button-color: #000;
  --subdued-text: rgba(0, 0, 0, 0.4);
  /* --background-color: #fff; */
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--background-color);
}

.main {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.layout__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  padding: 5em 0 3em;
  display: grid;
  grid-gap: 2rem;
  gap: 2rem;
}

@media (max-width: 950px) {
  .layout__wrapper {
    width: auto;
    margin: 0 1rem;
    gap: 1rem;
    padding: 1em 0;
  }
}

@media (max-width: 700px) {
  .layout__wrapper {
    padding: 1rem 0 3rem;
  }
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 450px;
  -o-object-fit: cover;
  object-fit: cover;
  filter: saturate(150%);
}

.hero {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
  overflow: hidden;
  padding: 4rem 2rem 0;
  grid-gap: 1.5rem;
  gap: 1.5rem;
}

@media (max-width: 700px) {
  .hero {
    grid-template-columns: 1fr;
  }
}

.hero__container {
  border-radius: var(--card-radius);
  background: var(--card-background-color);
  position: relative;
}

.screenshot {
  max-width: 400px;
  margin: 0 auto;
  filter: drop-shadow(0 20px 50px rgb(0 0 0/40%));
  z-index: 2;
  position: relative;
}

.screenshot__wrapper {
  box-sizing: border-box;
  overflow: hidden;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
}

.screenshot-image {
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.card__right {
  position: absolute;
  top: -40px;
  left: 40%;
  width: 245px;
  filter: drop-shadow(0 14px 60px rgb(0 0 0/20%));
  z-index: 1;
}

@media (max-width: 840px) {
  .card__right {
    width: 170px;
    top: 20px;
  }
}

@media (max-width: 700px) {
  .card__right {
    top: inherit;
    bottom: 35%;
    left: 75%;
  }
}

.card__left {
  position: absolute;
  bottom: 10%;
  right: 85%;
  width: 196px;
  filter: drop-shadow(0 11px 46px rgb(0 0 0/20%));
  z-index: 3;
}

@media (max-width: 840px) {
  .card__left {
    width: 120px;
    right: 90%;
  }
}

@media (max-width: 700px) {
  .card__left {
    right: 75%;
  }
}

.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

@media (max-width: 700px) {
  .title {
    grid-row-start: 1;
  }
}

.app-icon {
  max-width: 114px;
  margin: 0 auto;
  filter: drop-shadow(0 12px 29px rgb(0 0 0/20%))
    drop-shadow(0 2px 5px rgb(0 0 0/15%));
}

@media (max-width: 1050px) {
  .app-icon {
    max-width: 90px;
  }
}

.app-title-text {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.title-heading {
  margin: 0;
  line-height: 1;
  font-size: 2.5em;
  color: var(--heading-text-color);
}

.title-subheading {
  font-size: 1.875em;
  font-weight: 500;
  color: var(--sub-heading-text-color);
  line-height: 1.2;
}
